table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}
