.block-1 {
    margin: 20px 0;
}
.block-2 {
    margin: 20px 0;
}
.block-3 {
    margin: 20px 0;
}
.block-4 {
    margin: 20px 0;
}
.block-5 {
    margin: 20px 0;
}
.block-6 {
    margin: 20px 0;
}
.block-7 {
    margin: 20px 0;
}
.block-8 {
    margin: 20px 0;
}
.block-9 {
    margin: 20px 0;
}
.block-10 {
    margin: 20px 0;
}