body {
    height: 2000px;
    padding: 20px;
    font-family: sans-serif;
}

.button {
    padding: 10px 20px;
    background-color: #2e86de;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
}
