#elem1 {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 1px;
    background-color: #97FF97;
}

#elem2 {
    width: 140px;
    height: 14px;
    background-color: #7777FF;
}

#elem3 {
    width: 80px;
    height: 80px;
    background-color: #FF7D7D;
}
